@model List<FazendaFeliz.ApplicationCore.Business.AnuncioCompleto>; 

@{
    ViewData["Title"] = "Home Page";
    string[] tiposProduto = new string[] {"açúcar", "artesanato", "banana", "bebidas", "brocolis", "café", "cana", "carne", "cenoura", "cogumelos", "congelados", "defumados", "desidratados", "doces", "flores", "frango", "frutas", "graos", "hortalicas", "laticinios", "legumes", "mandioca", "morango", "outros", "ovos", "peixe", "polpa", "sorvetes", "tomate", "trigo"};
}

<style>
    .mr-2 {
        margin-right: 10px;
    }

    .anuncio {
        border-radius: 10px;
        border: solid 2px var(--clr-green);
        padding: .5rem;
        box-shadow: 0 0 5px 3px #0002;
        margin: 1rem 0;
        position: relative;
    }

    .edit-anuncio{
        position: absolute;
        right: 10px;
        top: -30px;
        background: var(--clr-yellow-green);
        color: var(--clr-green);
        padding: 2px 5px;
    }

    .edit-anuncio i{
        cursor: pointer;
    }

    .anuncio h4 {
        font-weight:bold;
        text-align: center;
    }

    .info label{
        font-weight: bold;
        font-size: 14px;
    }

    .info p {
        font-size: 14px;
    }

    img {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px;
        margin: auto 0;
    }

    ._card-body {
        display: flex;
        justify-content: space-between;
    }

    .filtro-produtos {
        margin-top: 2rem;
        display: flex;
        overflow-x: scroll;
        gap: 2rem;
    }

    .produto h6 {
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .search-bar {
        margin: 2rem 0;
        width: 100%;
        position: relative;
    }

    .search-bar .icon{
        position: absolute;
        left: 15px;
        top: 8px;
    }

    .search-bar input {
        padding: 3px 2.5rem;
        border: 1px solid var(--clr-green);
        border-radius: 10px;
        width: 100%;
    }

    input:focus {
        outline: 2px solid var(--clr-green);
    }

    .botoes-filtro {
        display:flex;
        justify-content: center;
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }

    .botoes-filtro button {
        border: 1px solid var(--clr-green);
        padding: 10px 2rem;
    }

    .botoes-filtro button:hover {
        background: var(--clr-green);
        color: white;
    }

    .botoes-filtro button:nth-child(1) {
        border-radius: 15px 0 0 15px;
    }
    .botoes-filtro button:nth-child(3) {
        border-radius: 0 15px 15px 0;
    }

    .produtor {
        align-self: center;
        padding-right: 5px;
        text-align: center;
        margin-left: 0;
        font-size: 14px;
    }

    .produtor img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
</style>


<div class="filtro-produtos">
    @foreach(var produto in tiposProduto)
    {
        <div class="produto" onclick="pesquisar('produto', '@produto')">
            <img src=~/img/images/@(produto).jpg/>
            <h6>@produto</h6>
        </div>
    }
</div>

<div class="search-bar">
    <i class="fa-solid fa-magnifying-glass icon"></i>
    <input id='pesquisa' type="text" placeholder="pesquisar"/>
</div>

<div class="botoes-filtro">
    <button type="button" onclick="pesquisar('anuncios')">Anúncios</button>
    <button type="button" onclick="pesquisar('produtores')">Produtores</button>
    <button type="button" onclick="pesquisar('localizações')">Localizações</button>
</div>

<div>
    <div class="anuncios-wrapper row">
    @foreach(var anuncio in Model)
    {
        <section class="col-12 col-lg-4 px-2">
            <div class="anuncio">
                <h4>@anuncio.Anuncio.Titulo</h4>
                <div class="_card-body">
                    <div class='produtor'>
                        <img src="@anuncio.Produtor.Foto">
                        <p>@anuncio.Produtor.Nome</p>
                    </div>
                    <div class="info">
                        <div>
                            <label><i class="fa-solid fa-location-dot mr-2"></i>Localização</label>
                            <p>@anuncio.Anuncio.Localizacao</p>
                        </div>
                        <div>
                            <label><i class="fa-solid fa-money-bill-1-wave mr-2"></i>Preço</label>
                            <p>@anuncio.Anuncio.Preco</p>
                        </div>
                    </div>
                    <img src="@anuncio.Anuncio.Imagem_Base64"/>
                </div>
            <div class="edit-anuncio">
                    @if (anuncio.Favorito)
                    {
                        <i class="fa-solid fa-heart mr-2" style="color:red;" onclick="favoritar(@anuncio.Anuncio.Id)"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-heart mr-2" onclick="favoritar(@anuncio.Anuncio.Id)"></i>  
                    }
                    <i class="fa-solid fa-bullhorn" onclick="reclamar(@anuncio.Anuncio.Id)"></i>
            </div>
        </div>
        </section>
    }
    </div>
</div>

<script>
    const reclamar = (idAnuncio) => {
        window.location.href = "/anuncio/reclamar/"+idAnuncio;
    }

     const favoritar = (idAnuncio) => {
        axios({ method: 'post', url: '/favoritos/favoritar', data: parseInt(idAnuncio), headers: {
          'Content-Type': 'application/json; charset=utf-8'
        }})
        .then(function (response) {
            if(response.status == 200) {
                toastr.success("Anúncio favoritado com sucesso!");
                window.location.reload();
            }
            console.log(response);
        })
        .catch(function (error) {
            toastr.error("Erro ao favoritar anúncio");
            console.log(error);
        });
    }

    document.getElementById('pesquisa').addEventListener("keyup", event => {
      if (event.isComposing || event.code === 'Enter') {
        window.location.href = `/anuncio`;
      }
    });

    const pesquisar = (tipo, pesquisa) => {
        if(pesquisa == null)
            pesquisa = document.getElementById('pesquisa').value;
        window.location.href = `/anuncio?tipo=${tipo}&s=${pesquisa}`;
    }
</script>