@model FazendaFeliz.ApplicationCore.Business.FavoritosDTO; 

@{
    ViewData["Title"] = "Favoritos";
}

<div>
    <h3 class="page-title pb-2">Favoritos</h3>

    <section class="accordion">
      <input type="checkbox" name="collapse" id="handle1" checked="checked">
      <h2 class="handle">
        <label for="handle1">
        Anúncios
        </label>
      </h2>
      <div class="content">
          <div class="anuncios-wrapper row">
            @foreach(var anuncio in Model.Anuncios)
            {
                <section class="col-12 col-lg-4 px-2">
                    <div class="anuncio">
                        <h4>@anuncio.Titulo</h4>
                        <div class="_card-body">
                            <div class="info">
                                <div>
                                    <label><i class="fa-solid fa-location-dot mr-2"></i>Localização</label>
                                    <p>@anuncio.Localizacao</p>
                                </div>
                                <div>
                                    <label><i class="fa-solid fa-money-bill-1-wave mr-2"></i>Preço</label>
                                    <p>@anuncio.Preco</p>
                                </div>
                                <div>
                                    <label><i class="fa-solid fa-plus mr-2"  style="cursor:pointer;" onclick=descricao(@anuncio.Id)></i></label>
                                </div>
                            </div>
                            <img src="@anuncio.Imagem_Base64"/>
                        </div>
                    <div class="edit-anuncio">
                            <i class="fa-solid fa-heart mr-2" style="color:red;" onclick="favoritar(@anuncio.Id)"></i>
                            <i class="fa-solid fa-bullhorn" onclick="reclamar(@anuncio.Id)"></i>
                    </div>
                    </div>
                </section>
            }
            </div>
      </div>
    </section>
    
    <section class="accordion">
      <input type="checkbox" name="collapse" id="handle2">
      <h2 class="handle">
        <label for="handle2">
        Produtores
        </label>
      </h2>
      <div class="content">
          <div class="anuncios-wrapper row">
            @foreach(var produtor in Model.Usuarios)
            {
                <section class="col-12 col-lg-4 px-2">
                    <div class="anuncio">
                        <h4>@produtor.Nome</h4>
                        <div class="_card-body">
                            <div class="info">
                                <div>
                                    <label><i class="class="fa-solid fa-at mr-2"></i>Email</label>
                                    <p>@produtor.Email</p>
                                </div>
                                <div>
                                    <label><i class="fa-solid fa-phone mr-2"></i>Telefone</label>
                                    <p>@produtor.Telefone</p>
                                </div>
                                <div>
                                    <label><i class="fa-solid fa-plus mr-2"  style="cursor:pointer;" onclick=produtor(@produtor.Id)></i></label>
                                </div>
                            </div>
                            <img src="@produtor.Foto"/>
                        </div>
                    <div class="edit-anuncio">
                            <i class="fa-solid fa-heart" style="color:red;" onclick="favoritarProdutor(@produtor.Id)"></i>
                    </div>
                    </div>
                </section>
            }
            </div>
      </div>
    </section>
</div>

<style>

    .accordion > input[name="collapse"] {
      display: none;
    }

    .accordion .content {
      overflow: hidden;
      height: 0;
      transition: 0.5s;
    }

    .accordion label {
        color: #fff;
        display: block;    
        padding: 8px 22px;
        margin: 0 0 1px 0;
        cursor: pointer;
        background: #478c5c;
    }
        
    .accordion label:hover,
    .accordion label:focus {
      background: #59981A;
    }

    .accordion .handle label:before {
      font-family: FontAwesome;
      content: "\f107";
      display: inline-block;
      margin-right: 10px;
      font-size: 1em;
      line-height: 1.556em;
      vertical-align: middle;
      transition: 0.4s;
    }

    .accordion > input[name="collapse"]:checked ~ .handle label:before {
        transform: rotate(180deg);
        transform-origin: center;
        transition: 0.4s;
    }

    .accordion > input[name="collapse"]:checked ~ .content {
      height: auto;
      transition: height 0.5s;
    }

    .mr-2 {
        margin-right: 10px;
    }
    .anuncio {
        border-radius: 10px;
        border: solid 2px var(--clr-green);
        padding: 1rem;
        box-shadow: 0 0 5px 3px #0002;
        margin: 2rem 1rem;
        position: relative;
    }

    .edit-anuncio{
        position: absolute;
        right: 10px;
        top: -30px;
        background: var(--clr-yellow-green);
        color: var(--clr-green);
        padding: 2px 5px;
    }

    .edit-anuncio i{
        cursor: pointer;
    }

    .anuncio h4 {
        font-weight:bold;
        text-align: center;
    }

    .info label{
        font-weight: bold;
    }

    .info p {

        font-weight: bold;
    }

    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        margin: auto 0;
    }

    ._card-body {
        display: flex;
        justify-content: space-between;
    }
</style>

<script>
    const reclamar = (idAnuncio) => {
        window.location.href = "/anuncio/reclamar/"+idAnuncio;
    }
    
    const descricao = (idAnuncio) => {
        window.location.href = "/anuncio/descricao/"+idAnuncio
    }
    
    const produtor = (idProdutor) => {
        window.location.href = "/produtor/"+idProdutor;
    }

    const favoritar = (idAnuncio) => {
        axios({ method: 'post', url: '/favoritos/favoritar', data: parseInt(idAnuncio), headers: {
          'Content-Type': 'application/json; charset=utf-8'
        }})
        .then(function (response) {
            if(response.status == 200) {
                window.location.reload();
            }
            console.log(response);
        })
        .catch(function (error) {
            toastr.error("Erro ao favoritar anúncio");
            console.log(error);
        });
    }

    const favoritarProdutor = (idUsuario) => {
        axios({ method: 'post', url: '/favoritos/favoritarProdutor', data: parseInt(idUsuario), headers: {
          'Content-Type': 'application/json; charset=utf-8'
        }})
        .then(function (response) {
            if(response.status == 200) {
                toastr.success("Produtor favoritado com sucesso!");
                window.location.reload();
            }
            console.log(response);
        })
        .catch(function (error) {
            toastr.error("Erro ao favoritar produtor");
            console.log(error);
        });
    }

</script>