@model FazendaFeliz.ApplicationCore.Business.ProdutorDTO; 
@{
	ViewData["Title"] = "Descrição do Produtor";
}

<div>
    <h3 class="page-title">Descrição do Produtor</h3>
    <section class="col-32 col-lg-32 px-2">
        <div class="produtor">
            <h4>Produtor</h4>
            <div class="_card-body">
                    <div class="info">
                        <div>
                        <label><i class="fa-solid fa-at mr-2"></i>E-mail</label>
                        <p>@Model.Usuario.Email</p>
                    </div>
                    <div>
                        <label><i class="fa-solid fa-phone mr-2"></i>Telefone</label>
                        <p>@Model.Usuario.Telefone</p>
                    </div>
                     <div> 
                         <label><i class="fa-solid fa-user mr-2"></i>Nome</label>   
                            <p>@Model.Usuario.Nome</p>
                     </div>
                 </div>
                <img src="@Model.Usuario.Foto"/>
            </div>

            <div class="anuncio">
                <h4>Reclamações do Produtor</h4>
                <div class="_card-body">
                    @if (Model.Favorito)
                    {
                        <i class="fa-solid fa-heart mr-2" style="color:red;" onclick="favoritar(@Model.Usuario.Id)"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-heart mr-2" onclick="favoritar(@Model.Usuario.Id)"></i>
                    }
                    <div class="info">
                        @foreach(var reclamacao in Model.Reclamacaos)
                        {
                            <div>
                                <h5>@reclamacao.Titulo</h5>
                                <p>@reclamacao.Descricao</p>
                                @if(@reclamacao.Imagem_Base64 != "")
                                {
                                    <img src="@reclamacao.Imagem_Base64"></img>
                                }
                                
                                <br>
                            </div>
                        }
                    </div>
                </div>
            </div>
    </section>
    
    <section>

    </section>
</div>

<style>
    .mr-2 {
        margin-right: 10px;
    }
    .produtor {
        border-radius: 10px;
        border: solid 2px var(--clr-green);
        padding: 1rem;
        box-shadow: 0 0 5px 3px #0002;
        margin: 1rem 0;
        position: relative;
    }

    .produtor h4 {
        font-weight:bold;
        text-align: center;
    }

    .info label{
        font-weight: bold;
    }

    img {
        width: 240px;
        height: 240px;
        object-fit: cover;
        border-radius: 10px;
        margin: auto 0;
    }

    ._card-body {
        display: flex;
        justify-content: space-between;
    }
</style>

<script>
    const favoritar = (idUsuario) => {
        axios({ method: 'post', url: '/favoritos/favoritarProdutor', data: parseInt(idUsuario), headers: {
          'Content-Type': 'application/json; charset=utf-8'
        }})
        .then(function (response) {
            if(response.status == 200) {
                toastr.success("Produtor favoritado com sucesso!");
                window.location.reload();
            }
            console.log(response);
        })
        .catch(function (error) {
            toastr.error("Erro ao favoritar produtor");
            console.log(error);
        });
    }
</script>
